/* CSS declarations go here */
/*https://css-tricks.com/examples/GradientBorder/*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*LANDING PAGE*/

/*SIMULATIONS PAGE*/
body {
	background-color: #3F3F3F;
}
#simpagetop {
	background-color: #3F3F3F;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}
#simpagetop h4 {
	color: #FCFCFC;
	padding: 12px 20px 12px 20px;
	font-family: "Source Sans Pro";
}
hr {
	color: #FCFCFC;
	background-color: #3F3F3F;
	margin:0;
	padding-bottom: 20px;
	order:3;
}
#simpagetop #sptfirst {
   order: 1;
   align-self: flex-start;
   font-family: "Source Sans Pro";
}
#simpagetop #sptsecond {
	order: 2;
   align-self: flex-end;
   font-family: "Source Sans Pro";
}
#simpagetomorrow {
	background-color: #3F3F3F;
}
#simpagetomorrow, #simpagetoday, #simpagehistory {
	color: #FCFCFC;
	margin: 20px 0 0 50px;
	padding-left: 20px;
	font-family: "Source Sans Pro";
	background-color: #3F3F3F;
}
#tomorrowinfo, #todayinfo {
	color: #FCFCFC;
	margin: 0 150px 0 150px;
	padding: 0px 40px 0px 20px;
	font-family: "Source Sans Pro";
	background-color: #3F3F3F;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}
#tomorrowinfo div {
	align-self: flex-start;
}
#todayinfo div {
	align-self: flex-start;
}
#largeo, #larget {
	font-size: 350%;
}

#maxmin {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
