<template name ="LandingPage">

<head></head>

<body id=landingpg>

<!-- https://www.christianheilmann.com/2015/04/08/keeping-it-simple-coding-a-carousel/ -->
<!-- http://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/ -->

	<div id=break>
		<h1>
			Building With Data
		</h1>
		<h2>
			Simulating energy use in Singapore
		</h2>
	</div>

	<div class="carousel">
		<ul class="panes">
			<li>
				<img src="puppies1.png " alt="">
			</li>

			<li>
				<img src="puppies3.jpg " alt="">
			</li>

			<li>
				<img src="puppies2.jpg " alt="">
			</li>

			<li>
				<img src="puppies4.jpg " alt="">
			</li>
		</ul>
	</div>

	<div id=break>
		<h3>
			
		</h3>
	</div>


<!-- 	<div id=jumbo1>
		<h1>
			Purpose
		</h1>
		<h4>
			How can we better manage our resources? How can we build an environmental and health conscious future?
		</h4>
		<h4>
			Singapore imports all electricity from Malaysia. Mismatches in demand forecast and supply can cause significant, unnecessary losses to Singaporean businesses and residents. How can we fix this?
		</h4>
	</div> -->

</body>

</template>

<!-- data -->
<!-- https://data.gov.sg/dataset/surface-air-temperature-mean-daily-maximum -->
<!-- https://data.gov.sg/dataset/surface-air-temperature-mean-daily-minimum -->
<!-- https://data.gov.sg/dataset/weather-forecast -->

<!-- d3.js -->
<!-- http://dataaddict.fr/prenoms/ -->