<template name ="LandingPage">

<head></head>

<body>

<!-- https://www.christianheilmann.com/2015/04/08/keeping-it-simple-coding-a-carousel/ -->
<!-- http://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/ -->

<div class="carousel">
	<ul class="panes">
		
	<li>
		<img src="https://s4.postimg.org/gr1ea897x/puppies1.png" alt="">
	</li>

	<li>
		<img src="https://s4.postimg.org/s5xveulkd/puppies3.jpg" alt="">

	</li>

	<li>
		<img src="https://s4.postimg.org/rrwjf91gt/puppies2.jpg" alt="">
	</li>

	<li>
		<img src="https://s4.postimg.org/s5xveulkd/puppies3.jpg" alt="">
	</li>

	</ul>
</div>

</body>

</template>