<template name="SimulationsPage">

<head></head>

<body>
	
	<div id='simpagetop'>
		<h4 id='sptfirst'>
			BWD
		</h4>
		<h4 id='sptsecond'>
			Account
		</h4>
	</div>

	<div>
		<hr width="100%">
	</div>

	<div id='simpagetomorrow'>
		<h2>
			Tomorrow (Estimate)
		</h2>
		<div id='tomorrowinfo'>
			<div class="text-center">
				<p id='largeo' style="font-size: 175px; color: #C0392B;">
					227
				</p>
				<p style="font-size: 25px; color: #C0392B;">
					Millions (USD)
				</p>
			</div>
			<div class="text-center">
				<p id='larget' style="font-size: 175px; color: #3FC380;">
					94
				</p>
				<p style="font-size: 25px; color: #3FC380;">
					% Accurate
				</p>
			</div>
<!-- 			<div>
				<a id="maxmin" style="margin-top: 70px" href="#">
					Maximum Temperature
				</a><br><br><br><br>
				<a id="maxmin" href="#">
					Average
				</a><br><br><br><br>
				<a id="maxmin" href="#">
					Minimum Temperature
				</a>
			</div> -->
		</div>
	</div>

	<div>
		<p>
			<br><br>
		</p>
		<hr width="100%">
	</div>

	<div id='simpagetoday'>
		<h2>
			Today
		</h2>
		<div style="margin-top: 30px;" id="todayinfo">
			<div>
				<img style="max-width: 600px;" src="/Graph.png" />
			</div>
<!-- 			<div>
				<a id="maxmin" style="margin-top: 50px" href="#">
					Maximum Temperature
				</a><br><br><br><br>
				<a id="maxmin" href="#">
					Average
				</a><br><br><br><br>
				<a id="maxmin" href="#">
					Minimum Temperature
				</a>
			</div> -->
		</div>
	</div>

	<div>
		<p>
			<br><br>
		</p>
		<hr width="100%">
	</div>

<!-- 	<div id="simpagehistory">
		<h2>
			History
		</h2>
		<p>
			Chart / d3.js (?)
			TBC
		</p>
	</div> -->

</body>

</template>