<template name="SimulationsPage">

<head></head>

<body>
	
	<div id='simpagetop'>
		<h4 id='sptfirst'>
			BWD
		</h4>
		<h4 id='sptsecond'>
			Account
		</h4>
	</div>

	<div>
		<hr width="100%">
	</div>

	<div id='simpagetomorrow'>
		<h2>
			Tomorrow
		</h2>
		<div id='tomorrowinfo'>
			<div>
				<p id='largeo'>
					#
				</p>
				<p>
					Millions (SGD)
				</p>
			</div>
			<div>
				<p id='larget'>
					#
				</p>
				<p>
					Score
				</p>
			</div>
			<div>
				<p>
					<br>
					Maximum Temperature
					<br>
					<br>
					Minimum Temperature
				</p>
			</div>
		</div>
	</div>

	<div>
		<p>
			<br><br>
		</p>
		<hr width="100%">
	</div>

	<div id='simpagetoday'>
		<h2>
			Today
		</h2>
		<div id="todayinfo">
			<div>
				<img src="/TemplatePieChart.PNG" />
			</div>
			<div>
				<p>
					<br>
					Maximum Temperature
					<br>
					<br>
					Minimum Temperature
				</p>
			</div>
		</div>
	</div>

	<div>
		<p>
			<br><br>
		</p>
		<hr width="100%">
	</div>

	<div id="simpagehistory">
		<h2>
			History
		</h2>
		<p>
			Chart / d3.js (?)
		</p>
	</div>

</body>

</template>